.idea/
__pycache__/
chain/build
chain/poa/data/
*key.txt
*sealed*.txt
*.pem
builder/*data/*
builder/src/CLAIM_BOUNTY
relayer/*data/*
*python.manifest
*python.manifest.sgx
*python.sig
*python.token
*OUTPUT
