.idea/
__pycache__/
*/build
chain/poa/data/
*key.txt
*sealed*.txt
*.pem
builder/*data/*
builder/src/CLAIM_BOUNTY
relayer/*data/*
*python.manifest
*python.manifest.sgx
*python.sig
*python.token
*OUTPUT
chain/consensus/genesis.ssz
chain/execution/geth.ipc
chain/execution/geth/
chain/consensus/validatordata/
chain/consensus/beacondata/
.env
node_modules
*contract_address
sepolia/beacondata
sepolia/synced
sepolia/jwtsecret
*cert
